.image-container {
    display: flex; /* Arrange elements vertically */
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
    width: 300px; /* Adjust width as needed */
    border: 3px solid #050505; /* Add a border for visual clarity */
    margin: 25px; /* Add some spacing around the container */
  }
  
  .image-container img {
    width: 80%; /* Ensure image fits within the container */
    height: 250px; /* Maintain aspect ratio */
    margin-bottom: 2px; /* Add spacing between image and description */
  }
  
  .description-box {
    padding: 1px; /* Add padding for content readability */
    background-color: #1b75a1; /* Set a background color for distinction */
    text-align: center; /* Align text within the box */
  }